*.pyc
__pycache__
*.csv
*.json
*.png
*.jpg
*.mp4
!.gitignore
!README.md
!config.yml
!requirements.txt

/bin/*
!/bin/lobi/
/bin/lobi/*
!/bin/lobi/*.py

certification

/lib/*
!/lib/util/
/lib/util/*
!/lib/util/*.py

/log/*
!/log/.gitkeep

output
output_full

/src/*
!/src/lobi/
/src/lobi/*
!/src/lobi/*.py
!/src/twitter/
/src/twitter/*
!/src/twitter/*.py

/test/*
!/test/workspace/
/test/workspace/*
!/test/workspace/tmp
/test/workspace/tmp/*
!/test/workspace/tmp/.gitkeep
